body {
    color: white;
}

.container {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: black !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    width: 100%;
    height: 100%
}

.introduction{
    background-image: url("https://i.ytimg.com/vi/GolZFhC84go/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center center center;
    padding-bottom: 300px;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    padding-top: 10px;
    color: #D6DBDF;
    text-shadow: 0 0 10px #CB4335;
}

.greatnav {
    padding-top: 20px;
    text-align: right;
    text-decoration: none;
    right: 0;
    left: 0;
    z-index: 3;
}
li {
    list-style-type: none;
    display: inline-block;
}

li>a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    color: #D0D3D4;
    text-shadow: 0 0 10px #CB4335;
}

a:hover {
    box-shadow: 0 0 10px #E74C3C;
    color: #E6B0AA;
    text-decoration: none;
}

.log1 {
    padding-top: 100px;
}

#logo1 {
    border-radius: 50%;
}
.about,
.branch{
    text-shadow: 0 0 2px #BDC3C7;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 10px 10px 10px 10px;
}
.fb,
.tw,
.ig{
    padding-bottom: 20px; 
}

textarea {
    resize: none;
}

form {
    text-align: center;
}

button {
    color: whitesmoke !important;
}
#pizza1,
#pizza2,
#pizza3,
#pizza4,
#pizza5,
#pizza6,
#pizza7,
#pizza8 {
    border-radius: 50%;
    box-shadow: 0 0 10px #DC7633;
}
.kili{
    background-image: url("../img/04-13-things-your-pizza-guy-wont-tell-you-making-pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 250px;
    padding-left: 50px;
}
   
.menu {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-shadow: 0 0 2px #BDC3C7;
}
#tash1,
#tash2,
#tash3,
#tash4,
#tash5,
#tash6,
#tash7,
#tash8,
#tash9{
    padding-top: 25px;
    font-style: italic;
    color: tomato;
}

#pic1:hover,
#pic2:hover,
#pic3:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    width: 170px;
}
  
#order1 {
    background-color: #EC7063 !important;
    box-shadow: 0 0 10px #DC7633;
}

#order2 {
    background-color: #EC7063 !important;
    box-shadow: 0 0 10px #DC7633;
}

.order2 {
    text-align: center;
}

select {
    box-shadow: 0 0 10px #DC7633;
}
.order2 {
    text-align: center;
}
select {
    box-shadow: 0 0 10px #DC7633;
}
.deliver {
    background-image: url(../img/images\ \(4\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 250px;
    padding-left: 50px;
}
.pic{
    text-align: center;
}
.contact{
    text-align: center;
}
#pizza1:hover,
#pizza2:hover,
#pizza3:hover,
#pizza4:hover,
#pizza5:hover,
#pizza6:hover,
#pizza7:hover,
#pizza8:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}